*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat Subrayada', sans-serif;
    font-family: 'Roboto', sans-serif;
}
nav{
    background-color: red;
    height: 50px;
    width: 100%;
}
label.logo{
    color: white;
    align-items: center;
    display: inline-block;
    font-size: 35px;
    font-weight: bold;
    padding: 0 50px;
    line-height: 80px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: flex;
    flex-direction: row;
    margin: 0 5px;
    line-height: 50px;
}
nav ul li a{
    display: flex;
    flex-direction: row;
    color: black;
    text-transform: uppercase;
    padding: 10px 1px;
    border-radius: 3px;
}
a:hover, a.active{
    background: white;
    color: black;
    transition: 1s;
}
.checkbtn{
    /* display: none; */
    font-size: 30px;
    color: white;
    float: right;
    margin-right: 20px;
    line-height: 80px;
    cursor: pointer;
}
#check{
    display: none;
}
@media screen and (max-width: 768px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 15px;
    }
}
    @media (max-width: 768px){
        ul{
            position:fixed;
            width: 100%;
            display: flex;
            flex-direction: column;
            height: 100%;
            background: green;
            cursor: pointer;
            border-radius: 3px;
            transition: 2s;
            color: black;
        }
        #check:checked ~ ul{
            left: 0;

        }
        a:hover,a.active{
            color: black;
            background: white ;
        }
        nav ul li a{
            font-size: 20px;
        }
    }
.h1{
    font-size: 40px;
    font-weight: bold;
    color: rgb(3, 3, 138);
    text-align: center;
    width: 100%;
    height: 100%;
}
.ul{
    color: white;
}
.name{
    font-size: 25px;
    line-height: 80px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    display: inline-block;
    margin-right: 0px;
}
nav ul li{
    display: inline-block;
    margin: 5px;
    line-height: 80px;
    font-weight: bolder;
}
.checkbtn{
    display: none;
}
#check{
    display: none;
}
@media screen and (max-width:768px) {
    *{
        
        background: red;
    }
    nav ul{
        color: green;
    }
    nav ul li a {
        display: block
    }
    .fa-solid fa-bars{
        display: block;
    }
}
@media (max-width: 168px){
    .checkbtn{
        display: block;
    }
    nav ul li{
        display: flex;
        flex-direction: column;
        background-color: green;
        font-size: 20px;
    }
    ul{
        color: green;
    }
}
nav ul li a{
    font-size: 13px;
    text-transform: uppercase;
    box-sizing: border-box;
    padding: 10px 2px;
    border-radius: 5px;
    color: white;
}
a:hover{
    color: black ;
    transition: 2s;
    border: 1px solid white;
    border-radius: 1px solid rgb(0, 87, 0);
}
.main{
    display: inline;
    justify-content: center;
}
.paragraph{
    font-size: 30px;
    text-align: center;
    color: black;
    margin-top: 0px;
    padding: 30px;
    border: none;
    position: absolute;
}
.h3{
    font-size: 30px;
    color:black;
    border: none;
    /* background-color:rgb(0, 94, 0); */
    text-align: justify;
    color: rgb(0, 0, 151);
}
.modibbo{
    font-size: 20px;
    display: inline;
}
.img{
    align-items: center;
    display: flex;
    text-align: center;
    width: 100%;
    height: 480px;
    background-size: cover;
    position: static;
}
.hospital{
    font-size:18px;
    font-weight: lighter;
    text-align: justify; 
    width: 100%; 
    align-items: center;
}
h1{
    font-size: 25px;
    margin: 0px;
    font-weight: lighter;
    font-style: none;
    color: rgba(7, 158, 7, 0.87);
    /* text-transform: uppercase; */
    text-align:center;
    position: relative;
}
.Services{
    list-style-type: none;
    text-align: justify;
    font-size: 18px;
    margin: 10px 10px;
}
.Services ol{
    padding: 0;
    margin-left: 10px;
    margin-top: 0px;
    list-style: none;
    line-height: 30px;
}
.offer{
    list-style-type: none;
    text-align: justify;
    font-size: 18px;
    margin: 10px 15px;
}
.offer ol{
    padding: 0;
    margin-left: 10px;
    margin-top: 0px;
    list-style: none;
    line-height: 30px;
}
.Department{
    list-style-type: none;
    text-align: justify;
    font-size: 18px;
    margin: 10px 15px;
}
html{
    box-sizing: border-box;
}
.Department ol{
    padding: 0;
    margin-left: 10px;
    margin-top: 0px;
    list-style: none;
    line-height: 30px;
}
.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 15px;
}
.Department-box, .offer-box, .services-box{
    float: left;
    width: 30.3%;
    text-align: justify;
    padding: 15px;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(187, 29, 29, 0.2);
    border: none;
}
footer{
    width: 100%;
    color: white;
    color: black;
    padding: 30px 0px;
    height: 180px; 
    background: green;
    display: flex;
}
.footer-1{
    display: inline-block;
    margin: 10px;
    width: 300px;
    text-align: justify;
    /* box-shadow: 0px 5px 8px 0 rgb(0, 0, 0); */
}
footer a{
    font-size: 20px;
    color: white;
    margin-top: 0px;
}
h2{
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.images{
    display: flex;
    justify-content: space-around;
    font-size: small;
}
.images div{
    width: 40%;
}
.health{
    display: flex;
    justify-content: center;
    /* background-color: black; */
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    cursor: pointer;
}



