*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    outline: none;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat Subrayada', sans-serif;
    font-family: 'Roboto', sans-serif;
    
}
label.logo{
    color: white;
    align-items: center;
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    padding: 10 px;
    line-height: 80px;
}
header{
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-around;
    background-color: rgb(83, 161, 187);
    float: right;
    /* padding: 14px; */
}
.menu-icon{
    margin-left: 18px;
    display: inline;
}
nav a{
    color: white;
    text-transform: uppercase;
    padding: 10px 10px;
    border-radius: 3px;
    text-decoration: none;
}
nav a:after{
    color: white;
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 5px;
}
a:hover, a.active{
    background: white;
    color: black;
    transition: 1s;
}
.checkbtn{
    display: none;
    font-size: 30px;
    color: white;
    float: right;
    margin-right: 20px;
    line-height: 80px;
    cursor: pointer;
}
.checkbtn-2{
    font-size: 30px;
    color: white;
    margin-right: 20px;
    line-height: 80px;
    cursor: pointer
}
#check{
    display: none;
}
.main{
        display: inline-block;
        justify-content:space-around;
}
.img{
    align-items: center;
    display: flex;
    text-align: center;
    width: 100%;
    height: 480px;
    background-size: cover;
    position: static;
}
h1{
    font-size: 25px;
    margin: 0px;
    font-weight: bold;
    font-style: none;
    color: rgb(9, 9, 75);
    /* text-transform: uppercase; */
    text-align:justify;
    position: relative;
}
.images{
    display: flex;
    justify-content: space-around;
    font-size: small;
    min-height: 80vh;
    align-items: center;
    width: 100%;
}
.images div{
    width: 40%;
}
.modibbo{
    font-size: 20px;
    display: inline;
}
.h2{
    margin-top: 150px;
    font-size: 30px;
    color:black;
    font-weight: lighter;
    border: none;
    /* background-color:rgb(0, 94, 0); */
    text-align: justify;
    color: rgb(9, 9, 75);
}
.hospital{
    font-size:18px;
    font-weight: lighter;
    text-align: justify; 
    width: 100%; 
    align-items: center;
}
.surgery{
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 10px;
}
.surgery:hover{
    transform: scale(1.1);
    transition: 2s;
    cursor: pointer;
}
.health{
    display: flex;
    justify-content: center;
    width: 200%;
}
.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 15px;
}
.Services{
    list-style-type: none;
    text-align: justify;
    font-size: 18px;
    margin: 10px 10px;
}
.Services ol{
    padding: 0;
    margin-left: 10px;
    margin-top: 0px;
    list-style: none;
    line-height: 30px;
}
.offer{
    list-style-type: none;
    text-align: justify;
    font-size: 18px;
    margin: 10px 15px;
}
.offer ol{
    padding: 0;
    margin-left: 10px;
    margin-top: 0px;
    list-style: none;
    line-height: 30px;
}
.Department{
    list-style-type: none;
    text-align: justify;
    font-size: 18px;
    margin: 10px 15px;
}
html{
    box-sizing: border-box;
}
.Department ol{
    padding: 0;
    margin-left: 10px;
    margin-top: 0px;
    list-style: none;
    line-height: 30px;
}
ol a li:hover{
    cursor: pointer;
    border-radius: 3px;
    padding: 5px;
    color: white;
    background: blue;
    border-radius: 3px;
    text-decoration: none;
    width: fit-content;
    transition: 0.2s;
}
.Department-box, .offer-box, .services-box{
    float: left;
    width: 30.3%;
    text-align: justify;
    padding: 15px;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 0 0px 30px 0 rgba(0, 0, 120, 0.5);
    border: none;
}
footer{
    color: white;
    padding: 30px 0px;
    height: 180px;
    background: rgb(27, 129, 163);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 5px;
}
footer-1{
    margin: 10px;
    border-radius: 5px;
    width: 300px;
    text-align: justify;
}
footer a{
    padding: 3px;
    font-size: 18px;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
}
h2{
    color: lightblue;
    font-size: 18px;
    text-align: justify;
    font-weight: bolder;
    margin-bottom: 10px;
}











@media only screen and (max-width: 769px){
    
    html{
        font-size: 55%;
    }
    header{
        padding: 14px;
    }
    nav{
        display: flex;
        flex-direction: column;
        /* float: left; */
        top: 90%;
        position:sticky;
        width: 90%;
        background:  rgb(83, 161, 187);
    }
    .container{
        flex-direction: column;
    }
    .container div{
        width: 90%;
        margin:10px auto;
    }
    .checkbtn{
        display: block;
        color: white;
        margin-left: 0px;
    }
    nav a{
        display: none;
        align-items: center;
        padding: 1.5rem;
        margin: 1rem;
        position: relative;
        border: 2px solid lightgreen;
        border-radius: 5px;
        background: var(box-shadow);
    }
    nav.active{
        left: 0;
    }
    nav .show{
        display: show;
    }
    .modibbo{
        padding-top: 15px;
        width: 90%;
        display: inline;
    }
    .hospital{
        width: 90%;
        padding: 10px;
        text-align: justify;
    }
    .surgery{
        padding: 0px;
        width: 100%;
    }
    .h2, h1{
        width: 90%;
        padding: 10px;
        display: initial;
    }
    h2{
        display: flex;
        flex-direction: column;
    }
    .images{
        flex-direction: column;
    }
    header{
        position: relative;
    }
    .images div{
        width: 60%;
        margin:  10px auto;
    }
    
}